#login h1 a, .login h1 a {
	background-image: url('../images/demo-logo.png');
	height:65px;
	width:320px;
	background-size: 320px 65px;
	background-repeat: no-repeat;
}

body.login {
	background: rgba(255, 140, 105,.2);
}
.login label {
	color: #0C98C3;
	font-size: 1rem;
}
.login #backtoblog a, .login #nav a {
	color: #749F43;
}
